body
{
    
    background-image: url("Killerinstinct.jpg");
}
p
{
  
    color: white;
    background-color:black;
}
#container
{
    border-inline-color: yellow;
    inline-size: 60px;
    font-style: serif;
    font-size: 500%;
    margin: auto;
    height: 300px;
    background-color: blueviolet;
    padding: auto;
    width: 750px;
     display: -moz-box ;grid-auto-flow: column ;
     -ms-layout-grid: auto;
 
     
    

    }